---
import "../styles.css";
---
<html lang="en">
  <head>
    <title>404 - Browser.nvim</title>
  </head>
  <body class="bg-base text-text h-screen w-screen overflow-hidden">
    <h1 class="text-center text-2xl font-bold mt-4">does bro have skill isues, theres only one frickin page in this proxy.</h1>
  </body>
</html>

