
---
import "../styles.css";
import commandsJ from '../commands.json';

interface Command {
  command: string;
  description: string;
}

const commands: Command[] = commandsJ as Command[];
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="a pretty crappy proxy.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help - Browser.nvim</title>
    <script is:inline defer>
      document.addEventListener("DOMContentLoaded", () => {
        document.body.dataset.theme = localStorage.getItem("theme");
      });
      window.addEventListener("theme-changed", () => {
        document.body.dataset.theme = localStorage.getItem("theme");
      });
    </script>
  </head>

  <body class="bg-base text-text p-6  rounded-lg shadow-lg">

    <h1 class="text-3xl font-bold mb-4 border-b pb-2 border-gray-200">Help Manual</h1>
    <p class="mb-6">This is the help manual for browser.nvim, a unique web proxy with a little twist made for the 2025 Nebula proxathon.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-6">Commands</h2>
    <ul class="list-none p-0">
      {commands.map((cmd) => (
        <li id={cmd.command.split(" ")[0]} class="mb-2 flex items-baseline">
          <strong class="mr-2 min-w-[100px] inline-block">{cmd.command}</strong>
          <span class="">- {cmd.description}</span>
        </li>
      ))}
    </ul>
    <h2 class="text-2xl font-semibold mb-4 mt-6">Themes</h2>
    <ul class="list-none p-0">
        <li class="mb-2 flex items-baseline">Mocha</li>
        <li class="mb-2 flex items-baseline">Frappe</li>
        <li class="mb-2 flex items-baseline">Latte</li>
        <li class="mb-2 flex items-baseline">Machiatto</li>
        <li class="mb-2 flex items-baseline">Default</li>
        <li class="mb-2 flex items-baseline">Moon</li>
        <li class="mb-2 flex items-baseline">Dawn</li>

    </ul>

  </body>
</html>

