---
import "../styles.css";
---
<html lang="en">
  <head>
    <title>404 - Browser.nvim</title>
    <script is:inline defer>
      document.addEventListener("DOMContentLoaded", () => {
        document.body.dataset.theme = localStorage.getItem("theme");
      });
      window.addEventListener("theme-changed", () => {
        document.body.dataset.theme = localStorage.getItem("theme");
      });
    </script>
  </head>
  <body class="bg-base text-text h-screen w-screen overflow-hidden flex items-center justify-center flex-col">
    <h1 class="text-center text-3xl font-bold">browser.nvim</h1>
    <p class="text-center text-lg mt-4">version 1.0</p>
    <p class="text-center text-lg">by <a href="https://github.com/coding4hours">Coding4hours</a></p>
    <p class="text-center text-lg">made for the 2025 Nebula proxathon</p>

    <section id="keybinds">
      <div class="flex justify-between w-96 max-w-md mt-4">
        <p class="text-lg rounded-lg p-1">type :q<span class="text-foam">&lt;Enter&gt;</span></p>
        <p class="text-lg rounded-lg p-1">to exit</p>
      </div>

      <div class="flex justify-between w-96 max-w-md">
        <p class="text-lg rounded-lg p-1">type :help<span class="text-foam">&lt;Enter&gt;</span></p>
        <p class="text-lg rounded-lg p-1">for off-line help</p>
      </div>
    </section>
  </body>
</html>
